/* Import google font */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,700;1,700&display=swap');

html {
    scroll-behavior: initial;
    overflow-y: scroll;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
  }

body{
    font-family: 'Public Sans', sans-serif;
    background-color: #1e1e1e;
    color: #fff;

    -ms-overflow-style: none;
}

h1{
    font-weight: 700;
    font-size: 4rem;
}

h2 {
    font-weight: 700;
    font-size: 3rem;
}

p, li{
    font-weight: 300;
    font-size: 1rem;
}

img{
    width: 100%;
}

.favicon{
    height: 70px;
}

/* containers */

.container-fluid{
    padding: 3% 15%;
}


/* headings */

.header-title {
    font-weight: 700;
    padding-top: 6px;
    margin-bottom: 0;
}

/* onload animation of top div */
@keyframes slideUp {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate{
    
    padding-top:0%;
    animation: 1.5s ease-in-out 0s 1 slideUp;
  }




/* text manipulation */

.bold {
    font-weight: 700;
    margin-bottom: 0;
}

/* general animations */

.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover {
    scale: 1.05;
}


/* title section */
#title{
    color: #fff;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 1rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
}

.navbar a{
    color: #fff;
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

/* quote section */

.quote-title{
    padding-bottom: 5rem;
}

/* projects section */
.top-padding-img{
    padding-top: 20%;
}


/* footer */
#footer{
    text-align: center;
}
.social-icon {
    font-size: 1.5rem;
    color: white;
}

.social-icon:hover {
    color: #8f8f8f;
}

/* responsiveness */
/* mobile phones */
@media (max-width: 768px){
    h1, h2{
        font-size: 2rem;
    }

    p{
        text-align: justify;
        margin: 3% 0;
        padding: 0;
    }

    .navbar {
        padding: 0 0 1rem;
    }

    .quote-title{
        text-align: center;
    }

    .header-title{
        text-align: left;
    }

    .number-header-title{
        text-align: left;
        padding-top: 3%;
    }

}


/* minimum tablet size */
@media (min-width: 768px) {
    h1{
        font-size: 5rem;
    }

    h2{
        font-size: 3;
    }

    p, li{
        font-size: 1rem;
    }

    .social-icon {
        font-size: 2rem;
    }

    .cover-img{
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 1920px) {
    h1{
        font-size: 9rem;
    }

    h2{
        font-size: 6rem;
    }

    p, li{
        font-size: 2rem;
    }

    a{
        font-size: 2rem;
    }

    .social-icon {
        font-size: 3rem;
    }
}